@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
  background-color: "#d8edf3";
  font-family: 'Oswald', sans-serif;
  font-size:15px;
}

h1{
  position:fixed;
  top:5px;
  left:430px;
  font-size:30px;


}
.hidden{
  display:none
}

.yAxis{
  font-family: 'Oswald', sans-serif;
}

.xAxis{
  font-family: 'Oswald', sans-serif;
}

div.nav{
  float:right;
}
div{
  float:right;
  clear:both;
}

img{
  margin-left: 0px;
  margin-right:0px;
}
img:hover {
  transform: scale(1.5);
}

.hidden{
  opacity:0;
}
#lineChart{
  float:left;
}

#informationDiv{
  position:fixed;
  left:1030px;
  top:180px;
  width:225px;
  height:200px;
}

g.legend{
  position:fixed;
  left:1200px;
}


#lineChartDiv{
  position:fixed;
  width:500px;
  top:100px;
  left:0px;
}

#imagesDiv{
position:fixed;
top:500px;
left:0;

}

#barChartDiv{
  position:fixed;
  height:300px;
  width:300px;
  left:600px;
  top:20px;
}
