
body{
  background-color: "#d8edf3";
}

div.nav{
  float:right;
}
div{
  float:right;
  clear:both;
}

img{
  margin-left: 0px;
  margin-right:0px;
}
img:hover {
  transform: scale(1.5);
}

.hidden{
  opacity:0;
}
#lineChart{
  float:left;
}

#barChart{
  float:right
}
#lineChartDiv{
  position:fixed;
  width:500px;
  top:-50px;
  left:-200px;
}

#imagesDiv{
position:fixed;
top:500px;
left:0;

}

#barChartDiv{
  position:fixed;
  height:300px;
  width:300px;
  left:600px;
  top:20px;
}
